
body {
    background: url('../images/cube-844235_1920.jpg');
    color: #00ff00;
    font-family: monospace;
    font-size: large;
}


.page_header {
    border-bottom: 5px solid #0310a5;
}

.header_title {
    font-size: 1.5em;
}

.center-text {
    text-align: center;
}



.page_footer {
    border-top: 5px solid #0310a5;
    /*border-bottom-style: solid;*/
}


.start-column {
    padding-left: 15px;
}


a {
    color: #00FF00;
    weight: bold;
    text-decoration: none;
}



div.spellbox {
    border-style: solid;
    border-color: #00AA00;
    padding: 1em;
}