.header-grid {
    max-width: 960px;
    background-color: #000000; /* 55AA55 */
    margin: auto;
    display: grid;
    grid-gap: 5px;
    display: grid;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
}


.header {
    width: 100%;
    background-color: #004400;
    text-align: center;
    font-size: 1.5em;
}



.spell-header-grid {
    max-width: 960px;
    background-color: #000000;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    display: grid;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    grid-template-columns: 3fr 2fr 2fr 4fr;
}

.spell-grid {
    max-width: 960px;
    background-color: #000000;
    margin: auto;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 0px;
    display: grid;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    grid-template-columns: 3fr 2fr 2fr 4fr;
}


.spell-header-item {
    font-size: 1.5em;
    background-color: #004400;
    padding-left: 5px;
    pagging-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;

}

.spell-item {
    background-color: #004400;
    padding-left: 5px;
}


.schools-grid {
    display: grid;
    max-width: 960px;
    background-color: #000000;
    margin: auto;
    grid-gap: 0px;
    /*
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
     */
    padding: 0px;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    border: 2px solid #00FF00;

}

.school-item {
    padding: 5px;
    background-color: #004400;
    text-align: center;
    text-size: 1.2em;
}


.footer-grid {
    max-width: 960px;
    background-color: #000000;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto;
}

.footer-item {
    text-align: center;
    background-color: #004400;
    font-size: 0.75em;
}

.school-summary-grid {
    max-width: 960px;
    background-color: #000000; /* 55AA55 */
    margin: auto;
    display: grid;
    grid-gap: 0px;
    display: grid;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    grid-template-columns: minmax(0, 280px) minmax(0, 400px) minmax(0,280px);
}

.summary-spacer-start {
    padding: 5px;
    background-color: #004400;
}

.summary-spacer-end {
    padding: 5px;
    background-color: #004400;
}

.summary-box {
    padding: 5px;
    background-color: #004400;
    text-size: 1.2em;
    border: 3px solid #00FF00;
}
